* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*font-size: 10px; устанавливаем для легкой конвертации в rem. 1 rem = 16 px*/
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* overflow-x: hidden; */
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

header {
  height: 9.6rem;
  background-color: #bfdfc1;
  display: flex;
  align-items: center;
  padding: 0 4.8rem;
  justify-content: space-between;
  /* Because we want header to be sticky later */
  /* position: relative; */
}
/* STICKY NAVIGATION залипающий хедер */
/* .sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.section-about {
  background-color: #fdf2e9;
  /*tint and shade generator
  padding: 4.8rem 0 9.6rem 0;
}*/
.logo {
  height: 6rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
/* /////////////////////////////////////////////////////////////РАСЧЕТ ПЕРСОНАЛЬНОЙ НОРМЫ///////////////////////// */
.section-norma {
  background-color: #eff7f0;
  height: 900px;
  /* top/right/bottom/left */
  padding: 4.8rem 0 12.8rem 0;
}

.norma {
  background-color: black;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.norma-text-box {
  background-color: #80be83;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.norma-header {
  color: #fff;
  margin-bottom: 3.2rem;
  font-size: 3rem;
}
.norma-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 3rem;
  color: #fff;
}

.count-your-norm-img {
  background-image: url("../../public/images/body-2.jpg");
  background-size: cover;
  background-position: center;
}

.count-your-norm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.count-your-norm label {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #0a110a;
}
.count-your-norm input,
.count-your-norm select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 10px;
}

.count-your-norm input::placeholder {
  color: #aaa;
}

.count-your-norm *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn-count {
  background-color: #264628;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  font-size: 2rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn-count:hover,
.btn-count:active {
  background-color: #3a683c;
}

.result {
  font-size: 2rem;
  color: #fff;
  /* font-weight: bold; */
  /* border: 2px solid #000; */
  padding: 1rem;
  /* background-color: #45260a; */
}

/* /////////////////////////////////////////////////////////////КАТЕГОРИИ ПРОДУКТОВ///////////////////////// */

.all_categories {
  display: flex;
  margin: 0 auto;
  max-width: 130rem;
  gap: 4.8rem;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.all_categories h1 {
  color: #264628;
  font-size: 4rem;
  margin-top: 9.6rem;
}

.all_categories_description {
  color: #264628;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 1.6;
}

.category {
  border: 1px solid #827f7f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 200px;
}

.select-where {
  font-size: 3rem;
}

.category h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 2.6rem;
  color: white;
}

.nutrition_info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: white;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2rem;
}
.veggies {
  background-image: url("../../public/images/veggies.jpg");
  background-size: cover;
  background-position: center;
}

.fruits {
  background-image: url("../../public/images/fruits.jpg");
  background-size: cover;
  background-position: center;
}

.meet {
  background-image: url("../../public/images/meet.jpg");
  background-size: cover;
  background-position: center;
}

.fish {
  background-image: url("../../public/images/fish.jpeg");
  background-size: cover;
  background-position: center;
}

.milk {
  background-image: url("../../public/images/milk.jpg");
  background-size: cover;
  background-position: center;
}

.dessert {
  background-image: url("../../public/images/dessert.jpg");
  background-size: cover;
  background-position: center;
}

#select-where {
  margin-top: 2;
}

/* /////////////////////////////////////////////////////////////О РЕСУРСЕ/ABOUT ///////////////////////// */
.section-about {
  background-color: #dfefe0;
  padding: 4.8rem 0 9.6rem 0;
  height: 120rem;
}

.about {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  align-items: center;
}

.apple-img {
  width: 100%;
  border-radius: 20px;
}

.about-details {
  max-width: 130rem;
  align-items: stretch;
  /* выравнивание внутри сетри по верхнему краю */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.about-header {
  font-weight: 700;
  color: #264628;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
}
.about-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.about-text-detiels {
  display: flex;
  justify-content: left;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.header-about-text-detiels {
  font-weight: 700;
  color: #264628;
  letter-spacing: -0.5px;
  font-size: 4rem;
}
.subheadder-about-details {
  font-weight: 600;
  color: #264628;
  letter-spacing: -0.5px;
  font-size: 2.5rem;
}
.detail-description {
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 1.6;
}
.main-img {
  width: 100%;
  border-radius: 20px;
}
.about-details-subheader-icon {
  display: flex;
  align-items: center;
}

.main-icons {
  margin-right: 5px;
}
/* ////////////////////////////////////////////////////////////РЕГИСТРАЦИЯ////////////////////////////////////////////*/
.section-registr {
  background-color: #dfefe0;
  padding: 4.8rem 0 9.6rem 0;
}
.registration {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.registr-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.registr-form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  gap: 2rem;
  /* display: flex;
  /* Распределяет элементы равномерно*/
  align-items: center;
}
.registr-password label,
.registr-email label {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #0a110a;
  padding: 1.2rem;
  font-size: 2rem;
  margin-top: 1.2rem;
}

.registr-password input,
.registr-email input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.registr-password input::placeholder {
  color: #aaa;
  font-size: 2rem;
  padding-left: 2rem;
}
.registr-email input::placeholder {
  color: #aaa;
  font-size: 2rem;
  padding-left: 2rem;
  border-radius: 10px;
}
.btn-sigh-in,
.btn-sigh-up {
  background-color: #264628;
  color: #fdf2e9;
  /* align-self: end; */
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn-sigh-in:hover,
.btn-sigh-in:active {
  background-color: #3a683c;
}
.btn-sigh-up:hover,
.btn-sigh-up:active {
  background-color: #3a683c;
}

.benefits-registr {
  margin-top: 2rem;
}
.registr-header {
  margin-top: 6rem;
  font-weight: 700;
  color: #264628;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
}
.registr-benefis-list {
  display: flex;
  align-items: center; /* Выравнивание элементов по центру */
  flex-wrap: wrap;
}
.registr-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
  display: flex; /* Устанавливаем flex-контейнер для списка */
  gap: 20px;
}
.registr-list-item {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 2rem;
}
