* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*font-size: 10px; устанавливаем для легкой конвертации в rem. 1 rem = 16 px*/
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* overflow-x: hidden; */
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

header {
  height: 9.6rem;
  background-color: #bfdfc1;
  display: flex;
  align-items: center;
  padding: 0 4.8rem;
  justify-content: space-between;
}

.logo {
  height: 6rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
/* /////////////////////////////////////////////////////////////РАСЧЕТ ПЕРСОНАЛЬНОЙ НОРМЫ///////////////////////// */
.section-norma {
  background-color: aqua;
  height: 800px;
  /* top/right/bottom/left */
  padding: 4.8rem 0 12.8rem 0;
}

.norma {
  background-color: black;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.norma-text-box {
  background-color: rgb(205, 28, 28);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.norma-header {
  color: #45260a;
  margin-bottom: 3.2rem;
  font-size: 2.8rem;
}
.norma-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.count-your-norm-img {
  background-image: url("../../public/images/body-2.jpg");
  background-size: cover;
  background-position: center;
}

.count-your-norm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.count-your-norm label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.count-your-norm input,
.count-your-norm select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
}

.count-your-norm input::placeholder {
  color: #aaa;
}

.count-your-norm *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn-count {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.result {
  font-size: 2rem;
  color: #45260a;
  font-weight: bold;
}

/* /////////////////////////////////////////////////////////////КАТЕГОРИИ ПРОДУКТОВ///////////////////////// */

.all_categories {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  background-color: rgba(236, 248, 238, 0.973);
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.category {
  border: 1px solid #827f7f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 150px;
}
.category h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 2.6rem;
  color: white;
}

.veggies {
  background-image: url("../../public/images/veggies.jpg");
  background-size: cover;
  background-position: center;
}

.fruits {
  background-image: url("../../public/images/fruits.jpg");
  background-size: cover;
  background-position: center;
}

.meet {
  background-image: url("../../public/images/meet.jpg");
  background-size: cover;
  background-position: center;
}

.fish {
  background-image: url("../../public/images/fish.jpeg");
  background-size: cover;
  background-position: center;
}

.milk {
  background-image: url("../../public/images/milk.jpg");
  background-size: cover;
  background-position: center;
}

.dessert {
  background-image: url("../../public/images/dessert.jpg");
  background-size: cover;
  background-position: center;
}

#select-where {
  margin-top: 2;
}

.nutrition_info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: white;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.4rem;
}

/* /////////////////////////////////////////////////////////////О РЕСУРСЕ///////////////////////// */
.section-about {
  background-color: #dfefe0;
  padding: 4.8rem 0 9.6rem 0;
}

.about {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  align-items: center;
}

.apple-img {
  width: 100%;
}

.about-details {
  max-width: 130rem;
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.about-header {
  font-weight: 700;
  color: #264628;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
}
.about-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.about-text-detiels {
  display: flex;
  justify-content: left;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.header-about-text-detiels {
  font-weight: 700;
  color: #264628;
  letter-spacing: -0.5px;
  font-size: 4rem;
}
.subheadder-about-details {
  font-weight: 600;
  color: #264628;
  letter-spacing: -0.5px;
  font-size: 2.5rem;
}
.detail-description {
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 1.6;
  border: 1px solid #ccc;
  align-items: center; /* Выравнивание по вертикали */
  /* Выравнивание по горизонтали */
}
